.movie_detail{
    padding: 20px;
}
.poster{
    width: 140px;
    height: 200px;
    border-radius: 5px;
}
.overview{
    display: flex;
    max-width: 50vw;
    margin-top: 20px;
}
.overview div{
    margin: 0 10px;
    text-align: justify;
}